<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ base_path }}/style.css">
    <link rel="alternate" type="application/rss+xml" title="Blog RSS" href="{{ base_path }}/blog/rss.xml">
    <link rel="alternate" type="application/atom+xml" title="Blog Atom" href="{{ base_path }}/blog/atom.xml">
</head>
<body>
    <header>
        <h3><a href="{{ base_path }}/">Home</a></h3>
    </header>
    <main>
        {{ content }}
    </main>
</body>
</html>
