/* Screen styles */
body {
    max-width: 65ch;
    margin: 0 auto;
    padding: 1rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1rem 0;
    cursor: pointer;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

